
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  font-size: 12px;
  width: 800px;
  background:Hex D9D9D9 ;
}

.navigation:hover {
  font-size: 140%;
}

/* Style the header */
header {
  background-color: grey;
  padding: 10px;
  text-align: center;
  font-size: 35px;
  color: white;
}

img {
  float: right;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 15%;
  height: 500px;
  background: #ccc;
  padding: 20px;

}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  float: right;
  padding-left: 15px;
  padding-top: 0px;
  width: 500px;
  height: 300px;
}
article {
  float: left;
  padding: 20px;
  width: 85%;
  background-color: #f1f1f1;
  height: 500px; /* only for demonstration, should be removed */
}

table {
  border-collapse: collapse;
  width: 60%;
}

th,td {
  border: 1px solid;
 padding-left: 20px;
 padding-right: 20px;
}

table {
  border: 2px solid;
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: grey;
  padding: 40px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
